<?xml version="1.0" ?>
<robot name="SASs_AMR_250" xmlns:xacro="http://www.ros.org/wiki/xacro">
  
  <!-- base_footprint: tam xe tai mat phang ground -->
  <!-- base_link: tam xe tai mat phang tam quay -->
  <!-- base_laser: tam xe tai mat phang di qua tam laser -->

  <xacro:include filename="$(find ros_gazebo)/urdf/materials.xacro" />
  <xacro:include filename="$(find ros_gazebo)/urdf/robot.gazebo" />
  <xacro:include filename="$(find ros_gazebo)/urdf/macros.xacro" />
	<xacro:property name="robot_mass" value="200" />
	<xacro:property name="robot_height" value="1.161" />
	<xacro:property name="robot_width" value="0.664" />
  <xacro:property name="robot_depth" value="0.33" />
	<xacro:property name="module_mass" value="40" />
	<xacro:property name="module_height" value="1.161" />
	<xacro:property name="module_width" value="0.664" />
  <xacro:property name="module_depth" value="0.15" />

  <link name="base_footprint">
    <!-- <pose>0 0 0.1 0 0 0</pose> -->
  </link>

  <link name="base_link">
    <inertial>
    <origin xyz="0 0 0.1" rpy="0 0 -1.57"/>  
      <mass value="${robot_mass}" />
      <solid_cuboid_inertia m="${robot_mass}" h="${robot_height}" w="${robot_width}" d="${robot_depth}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0.1" rpy="0 0 -1.57"/>  
      <geometry>
        <box size="${robot_width} ${robot_height} ${robot_depth}"/>
        <!-- <mesh filename="package://ros_gazebo/meshes/AMR_250.stl" scale="0.001 0.001 0.001"/> -->
      </geometry>
      <material name="red"/>
    </visual>
    <collision name="base_link">
      <origin xyz="0 0 0.1" rpy="0 0 -1.57"/>  
      <geometry>
        <box size="${robot_width} ${robot_height} ${robot_depth}"/>
        <!-- <mesh filename="package://ros_gazebo/meshes/AMR_250.stl" scale="0.001 0.001 0.001"/> -->
      </geometry>
    </collision>
  </link>
  <joint name="base_link_joint" type="fixed">
    <parent link="base_footprint"/>
    <child link="base_link"/>
    <origin xyz="0.0 0.0 0.1" rpy="0 0 0"/>
  </joint>

  <link name="base_module"></link>
  <joint name="base_module_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_module"/>
    <origin xyz="0 0 0.23" rpy="0 0 -1.57"/>
  </joint>
  <link name="base_module_under">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${module_mass}" />
      <solid_cuboid_inertia m="${module_mass}" h="${module_height}" w="${module_width}" d="${module_depth}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>  
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/AMR_Module1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="orange"/>
    </visual>    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/AMR_Module1.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_module_under_joint" type="fixed">
    <parent link="base_module"/>
    <child link="base_module_under"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>
  <link name="base_module_up">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="${module_mass}" />
      <solid_cuboid_inertia m="${module_mass}" h="${module_height}" w="${module_width}" d="${module_depth}"/>
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>  
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/AMR_Module2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="brown"/>
    </visual>    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/AMR_Module2.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_module_up_joint" type="fixed">
    <parent link="base_module"/>
    <child link="base_module_up"/>
    <origin xyz="0.0 0.0 0.0" rpy="0 0 0"/>
  </joint>

  <link name="base_laser"></link>
  <joint name="base_laser_joint" type="fixed">
    <parent link="base_link"/>
    <child link="base_laser"/>
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
  </joint>
  <link name="base_laser_front">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <xacro:cylinder_inertia mass="1" r="0.05" l="0.1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>  
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/ms3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>    
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/ms3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_laser_front_joint" type="fixed">
    <parent link="base_laser"/>
    <child link="base_laser_front"/>
    <origin xyz="0.483 0.265 0" rpy="3.14 0 0.785"/>
  </joint>
  <link name="base_laser_back">
    <inertial>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <mass value="1" />
      <xacro:cylinder_inertia mass="1" r="0.05" l="0.1" />
    </inertial>
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>  
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/ms3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="blue"/>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://ros_gazebo/meshes/ms3.stl" scale="0.001 0.001 0.001"/>
      </geometry>
    </collision>
  </link>
  <joint name="base_laser_back_joint" type="fixed">
    <parent link="base_laser"/>
    <child link="base_laser_back"/>
    <origin xyz="-0.483 -0.265 0" rpy="3.14 0 3.925"/>
  </joint>
  
  
  <xacro:link_wheel name="right_wheel" />
  <xacro:joint_wheel name="joint_right_wheel" child="right_wheel" origin_xyz="0 0.242 0.1" />
  <xacro:link_wheel name="left_wheel" />
  <xacro:joint_wheel name="joint_left_wheel" child="left_wheel" origin_xyz="0 -0.242 0.1" />
</robot>
